<div id="mapview">
  <div id="iconinstruction">
    <p><%= image_tag "icons/Crime.png" %>Crime</p>
    <p><%= image_tag "icons/FireIcon_small.png" %>Fire</p>
    <p><%= image_tag "icons/FireTruckIcon.png" %>Fire truck</p>
    <p><%= image_tag "icons/ExplosionIcon.png" %>Explosion</p>
    <p><%= image_tag "icons/Earthquake.png" %>Earthquake</p>
  </div>
  <div id="map_canvas">
    
  </div>
  
</div>
