<% content_for :header_content do %>
  <%= link_to(image_tag("/images/back_image.png", {:alt => 'example', :id=>"header-img-back"}), {:controller=>'entities', :action => 'show', :id => session[:home_entity_id]}) %>
  <div id="header-text">
    <%=h @category.name %>
  </div>
  <%= link_to(image_tag("/images/home_image.png", {:alt => 'example', :id=>"header-img-home"}), {:controller=>'entities', :action => 'show', :id => session[:home_entity_id]}) %>
<% end %>

<% @comments.each do |comment| %>
  <div class="comment-item">
    <div class="comment-item-header">
      <div class="comment-item-name"><%=h comment.user.login if comment.user %></div>
      <div class="comment-item-time"><%=h comment.created_at %></div>
    </div>
    
    <div class="comment-item-main">
      <div class="comment-item-content"><%=h comment.description %></div>
      <div class="comment-item-counter"><%=h comment.comments_counter%> more follow up responses</div>
      <%= link_to 'Follow up responses', comment %> |
      <%= link_to 'Edit', edit_comment_path(comment) %> |
      <%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<% end %>

<!--<h1>Listing comments</h1>

<table>
  <tr>
    <th>User</th>
    <th>Entity</th>
    <th>Category</th>
    <th>Image url</th>
    <th>Comment</th>
    <th>Type</th>
    <th>Description</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.user_id %></td>
    <td><%=h comment.entity_id %></td>
    <td><%=h comment.category_id %></td>
    <td><%=h comment.image_url %></td>
    <td><%=h comment.comment_id %></td>
    <td><%=h comment.type %></td>
    <td><%=h comment.description %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />-->

<%= link_to 'New comment', new_comment_path %>