<% content_for :header_content do %>
  <% if @comment.entity_id != -1 %>
  <%= link_to image_tag("/images/back_image.png", {:alt => 'example', :id=>"header-img-back"}), comments_path(:entity_id=>@comment.entity_id, :category_id=>@comment.category_id) %>
  <% else %>
  <%= link_to image_tag("/images/back_image.png", {:alt => 'example', :id=>"header-img-back"}), comment_responses_path(@comment.comment_id, :category_id=>@comment.category_id) %>
  <% end %>
  <div id="header-text">
    Semantic Geotagging
  </div>
  <%= link_to(image_tag("/images/home_image.png", {:alt => 'example', :id=>"header-img-home"}), {:controller=>'entities', :action => 'show', :id => session[:home_entity_id]}) %>
<% end %>

<h1>New comment</h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>

  <!--<p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :entity_id %><br />
    <%= f.text_field :entity_id %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>-->
  <p>
    <%= f.label :important_tag %><br />
    <%= f.text_field :important_tag %>
  </p>
  <!--<p>
    <%= f.label :comment_id %><br />
    <%= f.text_field :comment_id %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>-->
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<% if @comment.entity_id != -1 %>
<%= link_to 'Back', comments_path(:entity_id=>@comment.entity_id, :category_id=>@comment.category_id) %>
<% else %>
<%= link_to 'Back', comment_responses_path(@comment.comment_id, :category_id=>@comment.category_id) %>
<% end %>
