<% @responses.each do |response| %>
  <div class="comment-item">
    <div class="comment-item-header">
      <div class="comment-item-name"><%=h response.user.login if response.user %></div>
      <div class="comment-item-time"><%=h response.created_at %></div>
    </div>

    <div class="comment-item-main">
      <div class="comment-item-content"><%=h response.description %></div>
      <div class="comment-item-counter"><%=h response.comments_counter%> more follow up responses</div>
      <%= link_to 'Show', response %> |
      <%= link_to 'Edit', edit_comment_path(response) %> |
      <%= link_to 'Destroy', response, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<% end %>



<%= link_to 'New response', new_comment_path %>
