<div class="box">
  <div class="box-head">
    Listing entities
  </div>
  <div class="table">
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Icon uri</th>
    <th>Icon name</th>
    <th>Location</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Actions</th>
    
  </tr>

<% @entities.each do |entity| %>
  <tr>
    <td><%=h entity.id%></td>
    <td><%=h entity.title %></td>
    <td><%=h entity.description %></td>
    <td><%=h entity.icon_uri %></td>
    <td><%=h entity.icon_name %></td>
    <td><%=h entity.location %></td>
    <td><%=h entity.lat %></td>
    <td><%=h entity.lng %></td>
    <td><%= link_to 'Show', entity %> |
    <%= link_to 'Edit', edit_entity_path(entity) %> |
    <%= link_to 'Destroy', entity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
</div>
<br />

<%= link_to 'New entity', new_entity_path %>