<div class="entity-content">
<p class="descriptive-content">
  <%=h @entity.title %>
</p>

<p class="descriptive-content">
  <%=h @entity.description %>
</p>

<p>
  <b>Location:</b>
  <%=h @entity.location %>
</p>

<p>
  <b>Lat:</b>
  <%=h @entity.lat %>
  <b>Lng:</b>
  <%=h @entity.lng %>
</p>
</div>
<p class="descriptive-instruction">Categories: a long description of the instruction</p>
<% @categories.each do |category| %>
  <div class="category">
    <div class="category-name">
    <%= link_to category.comment_category.name,
      comments_path(:entity_id=>@entity, :category_id=>category) %>
    </div>
    <div class="counter">
      <%= "(#{category.counter})" %>
    </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>