<p>
  <b>Title:</b>
  <%=h @entity.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @entity.description %>
</p>

<p>
  <b>Icon uri:</b>
  <%=h @entity.icon_uri %>
</p>

<p>
  <b>Location:</b>
  <%=h @entity.location %>
</p>

<p>
  <b>Lat:</b>
  <%=h @entity.lat %>
</p>

<p>
  <b>Lng:</b>
  <%=h @entity.lng %>
</p>

<p>Categories:</p>
<% @categories.each do |category| %>
  <p>
    <%= link_to category.comment_category.name,
      comments_path(:entity_id=>@entity, :category_id=>category) %> <%= "(#{category.counter})" %>
  </p>
<% end %>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>