<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Icon uri</th>
    <th>Location</th>
    <th>Lat</th>
    <th>Lng</th>
  </tr>

<% @entities.each do |entity| %>
  <tr>
    <td><%=h entity.title %></td>
    <td><%=h entity.description %></td>
    <td><%=h entity.icon_uri %></td>
    <td><%=h entity.location %></td>
    <td><%=h entity.lat %></td>
    <td><%=h entity.lng %></td>
    <td><%= link_to 'Show', :action=> 'show', :id=>entity %></td>
    <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
    <td><%= link_to 'Destroy', entity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>